@font-face {
  font-family: "BebasNeueRegular";
  src: url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BellotaText-Regular";
  src: url("../fonts/BellotaText-Regular.woff") format("woff"),
    url("../fonts/BellotaText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BellotaText-LightItalic";
  src: url("../fonts/BellotaText-LightItalic.woff") format("woff"),
    url("../fonts/BellotaText-LightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BellotaText-Light";
  src: url("../fonts/BellotaText-Light.woff") format("woff"), url("../fonts/BellotaText-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BellotaText-Italic";
  src: url("../fonts/BellotaText-Italic.woff") format("woff"), url("../fonts/BellotaText-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BellotaText-BoldItalic";
  src: url("../fonts/BellotaText-BoldItalic.woff") format("woff"),
    url("../fonts/BellotaText-BoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BellotaText-Bold";
  src: url("../fonts/BellotaText-Bold.woff") format("woff"), url("../fonts/BellotaText-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LoewNext-Bold";
  src: url("../fonts/LoewNext-Bold.woff") format("woff"), url("../fonts/LoewNext-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LoewNext-Heavy";
  src: url("../fonts/LoewNext-Heavy.woff") format("woff"), url("../fonts/LoewNext-Heavy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LoewNext-Regular";
  src: url("../fonts/LoewNext-Regular.woff") format("woff"), url("../fonts/LoewNext-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rockwell-Regular";
  src: url("../fonts/Rockwell.woff") format("woff"), url("../fonts/Rockwell.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rockwell-Bold";
  src: url("../fonts/Rockwell-Bold.woff") format("woff"), url("../fonts/Rockwell-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RockwellMT';
  src: url('../fonts/RockwellMT.woff') format('woff'),
       url('../fonts/RockwellMT.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
